extends ../base

block content
    video(src="/"+video.videoUrl, controls)
    div.video__desc
        h2=video.title
        small uploaded by #{owner.name} • #{video.createdAt}
        p=video.description
        ul
            each hashtag in video.hashtags
                li=hashtag
    if String(loggedInUser._id) === String(video.owner)
        p.video__edit
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;