extends ../base

block content
    div#videoContainer(data-id=video._id)
        video(src="/"+video.videoUrl)
        div#videoControls
            div
                i#play.fas.fa-play
                div#time
                    span#currenTime 0:00
                    span  / 
                    span#totalTime 0:00
                input(type="range", value=0, step="1", min="0")#timeline
            div
                i#mute.fas.fa-volume-xmark
                input(type="range", value=0.5, step="0.1", min="0", max="1")#volume
                div 
                    i#fullscreen.fas.fa-expand

    div.video__desc
        h2=video.title
        small uploaded by 
            a(href=`/users/${video.owner._id}`).video__owner #{video.owner.name+" "}
            | • #{video.createdAt}
        p=video.description
        ul
            each hashtag in video.hashtags
                li=hashtag
    if String(loggedInUser._id) === String(video.owner._id)
        p.video__edit
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    if loggedIn
        div.video__add-comments 
            form.video__comment-form#commentForm
                textarea(cols="57",rows="5",placeholder="Write a nice comment...")
                button Add Comment
    .video__comments 
        small#comment__counter comments (#{video.comments.length})
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    i.fas.fa-comment
                    span #{comment.text}
                    small by #{comment.owner} • #{comment.createdAt}
                    if String(loggedInUser._id) === String(comment.owner)
                        span.deleteBtn ✕

block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")