extends ../base

block content 
    p #{errorMessage ? errorMessage : null}
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(name="avatar", type="file", id="avatar", accept="image/*")
        input(value=loggedInUser.name, name="name", placeholder="name", type="text", required) 
        input(value=loggedInUser.email, name="email", placeholder="email", type="email", required) 
        input(value=loggedInUser.username, name="username", placeholder="username", type="text", required) 
        input(value=loggedInUser.location, name="location", placeholder="location", type="text")
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr; 